<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Barebones</title>
  <!-- process:template
  <% if (environment === 'dev') { %>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/scripts/app.js"></script>
  <% } else if (environment === 'stage' || environment === 'prod') { %>
  <link rel="stylesheet" href="/styles/style.min.css">
  <script src="/scripts/app.min.js"></script>
  <% } %>
  /process -->
</head>
<body>
  <div class="container">
    <h1>Do it right, first fucking time.</h1>
  </div>  
</body>
</html>